<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{block title}{/block}</title>
</head>
<body>
	<nav>
		<ul>
			<li n:foreach="$menu as $menuItem" n:class="$task->sourceNameNoExt == $menuItem['path'] ? selected">
				<a href="/{$menuItem['path']}.html">{$menuItem['name']}</a>
			</li>
		</ul>
	</nav>
	{block content}{/block}
</body>
</html>